ion-select {
    background-color: transparent !important;
    color: transparent !important;
    position: absolute;
    top: 0;
    width: 100%;
}

ion-title, ion-header, ion-toolbar{
    text-overflow: inherit;
   white-space: normal;
}